/* Body BG */

body {
	background: url(../img/pw_pattern.png);
}

/* Set Your Own Margin & Padding */
h2, h3, p {
	margin: 0;
}

/* Image */
img {
	width: 400px;
}

/* Primary Header */

h1 {
	font-family: 'Lilita One', cursive;
	color: #FF6633;
}

h2 {
	font-family: 'Signika', sans-serif;
	font-weight: 700;
	color: #666666;
}

h3 {
	font-family: 'Signika', sans-serif;
	font-weight: 400;
	color: #FF6633;
}

em {
	font-family: 'Economica', sans-serif;
	font-weight: 400 italic;
}
/* Body Text */

p {
	font-family: 'Economica', sans-serif;
	color: #666666;
	line-height: 1.5em;
}

/* Links */


a.link,
a.visited {
	text-decoration: none;
	text-transform: uppercase;
	color: #FF6633;
}

a.hover {
	text-decoration: none;
	color: #FF6633;
}

/* Layout for Style Tile*/
section {
	margin: 20px 0;
}

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}

/* Colors Palette */

.color-1 {
	background: #FF6633;
}

.color-2 {
	background: #666666;
}

.color-3 {
	background: #000;
}

/* Patterns */

.pattern-1 {
	background-color: #008c41;
	background-image: url(http://colourlovers.com.s3.amazonaws.com/images/patterns/350/350740.png);
}

.pattern-2 {
	background-color: #8f0500;
	background-image: url(../img/pixel_weave.png);
}

.pattern-3 {
	background-image: url(../img/cream_pixels.png);
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}